.box {
    --color: teal;
    --size: 200px;
    width: var(--size);
    height: var(--size);
    background-color: var(--color);
    border-radius: calc(var(--size) * 0.1);
    transition: margin-left 0.2s;
    &.dark {
      --color: brown;
    }
  }